body {
    min-height: 100vh;
    background: #222629;
}

a {
    z-index: 100;
    color: white;
}

a:hover {
    color: white;
}

#nav-container {
    user-select: none;
    top:0;
    left:0;
    opacity: 1;
    font-family: 'Roboto', sans-serif;
    position: fixed;
    height: 3vh;
    background: #86c232;
    z-index: 100;
}

#nav-container .links {
    font-size: calc(12px + 0.5vw);
    height: 6vh;
    text-shadow: 1px 1px black;
    background: #86c232;
    border-radius: 0 0 25px 25px;
}

#nav-container .links>img {
    position: absolute;
    height: 6vh;
    z-index: 50;
}

#selected {
    filter: drop-shadow(1px 1px black);
}

#heading {
    top:0;
    left:0;
    position: fixed;
    background: #2c5f2d;
    height: 6vh;
    z-index: 50;
}

#heading>p {
    text-align: center;
    user-select: none;
    color: white;
    margin: 0 16.6%;
    padding: 0;
}

#banner-container {  
    padding-top: 6vh;
    height: 30vmax;
}

#banner {
    background-image: url("restaurant.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
}

#banner>p {
    position: absolute;
    font-family: 'Pacifico', cursive;
    font-size: 5vw;
    left: 17%;
    bottom: 0;
    color: white;
    text-shadow: 1px 1px black;
    user-select: none;
}

#text-container>.row>.text {
    background: #474b4f;
    color: rgb(200,200,200);
    text-align: center;
    padding: 0 5vmax;
    font-family: 'Roboto', sans-serif;
}

#text-container>.row>.text>p:first-child {
    font-size: calc(18px + 0.5vw);
    font-weight: bold;
    color: #86c232;
}

#text-container>.row>.text>p:not(:first-child) {
    margin-bottom: 5%;
    font-size: calc(12px + 0.5vw);
}

#about-sections {
    padding: 8vh 10% 0 10%;
    color: rgb(200,200,200);
    min-height: 100vh;
}

.about>p:nth-child(2){
    font-weight: bold;
    font-size: 24px;
}

.about>p:nth-child(3){
    padding: 0 10%;
}

#about-sections>.row>* {
    margin-top: 10vh;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    
}

#about-sections img {
    width: 65%;
}

#about-sections p {
    margin-top: 5%;
    font-size: calc(12px + 0.5vw);
}

#gallery-container {
    padding-top: 16vh;
    color: white;
    text-shadow: 1px 1px black;
    min-height: 100vh;
}

#gallery-container>.row>* {
    position: relative;
    overflow: hidden;
    height: 8.3vw;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 10px;
}

#gallery-container img {
    height:100%;
}

.description {
    user-select: none;
    text-align: center;
    position: absolute;
    left:0;
    bottom:-30%;
    width: 100%;
    height:30%;
    background: rgba(0,0,0,0.6);
    transition: bottom 200ms;
    border-radius: 25px 25px 0 0;
    font-size: 1vw;
}

@media screen and (max-width: 575px) {
    #heading {
        top: 3vh;
        justify-content: center !important;
        margin: 0;
    }
}