* {
    color: white;
}

body {
    height: 100vh;
}

a {
    color: white;
}

#nav-container {
    position: fixed;
    height: 6vh;
    z-index: 10;
}

#nav-row {
    height: 100%;
}

#selected {
    height: 50px;
    position: absolute;
    pointer-events: none;
}

.links {
    position: relative;
}

#banner-container {  
    height: 60vh;
}

#banner {
    background-image: url("https://assets.bonappetit.com/photos/5d7284758d926f0009df5cfc/16:9/w_2560%2Cc_limit/Basically-Gojuchang-Chicken-Potato.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
}

#banner>p {
    position: absolute;
    font-family: 'La Belle Aurore', cursive;
    font-size: 50px;
    text-shadow:2px 2px black;
    left: auto;
    right:auto;
    top: 40%;
}

#about-sections>.row {
    height: 100vh;
}

#about-sections img {
    border-radius: 50%;
}

#about-sections>.row>* {
    text-align: center;
}

.profile-pic {
    margin-top: 15%;
}

#about-one {
    background: crimson;
}

#about-two {
    background: lime;

}

#about-three {
    background: indigo;
}

#about-sections p {
    margin-top: 5%;
}

#gallery-container {
    background: crimson;
    height: 100vh;
}